@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
	font-family: 'Montserrat', sans-serif;
}

header h1{
	display: flex;
    width: 100%;
    height: 140px;
    padding: 10px 20px;
    background: url('../image/logo.png') no-repeat center;
    background-size: contain;
    font-size: 0;
}
section.search{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
section.search .search-input{
	width: 60%;
    margin: 40px auto 20px;

}
section.search .search-input input{
	width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
}
section.search .searchBtn{
	display: flex;
	flex-direction: row;
	width: 60%;
    justify-content: space-between;
}
section.search .searchBtn input{
	width: 48%;
	height: 40px;
}
section.results{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
section.results .results-left,
section.results .results-right{
	display: inline-flex;    
    justify-content: center;
    padding: 50px 0;
}
section.results .results-left{
    flex-direction: column;
    width: 60%;
}
#api-pokemon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#poke-name{
    font-size: 1.8rem;
    font-weight: bold;
    color: #f9f90e;
    text-shadow: 0px 0px 3px #4d66c0;
    letter-spacing: .2rem;
    text-transform: capitalize;
}
#poke-abilities h2{
    font-weight: bold;
    margin: 10px 0;
    color: #4d66c0;
    text-align: center;
}
#poke-abilities p{
    display: flex;
    align-items: center;
    margin-bottom: 5px;    
}
#poke-abilities p:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../image/pokebola.jpg) no-repeat center;
    background-size: contain;
    margin-right: 10px;
}
section.results .results-right{
    flex-direction: row;
    width: 90%;
    padding: 60px;
}
section.results .results-right li{
    display: inline-flex;
    flex-direction: column;
    width: 32%;
    margin-bottom: 40px;
    align-items: center;
}

section.results .results-right li h2{
    color: #4d66c0;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    min-height: 50px;
}

section.results .results-right li p{
    width: 80%;
    padding: 20px;
    line-height: 1.4rem;
    text-align: center;
    height: 90px;
    overflow: hidden;
}

